<%= link_to 'Add A Post', new_post_path %>

   <% if @posts.any? %>
      <ul>
        <% @posts.each do |post| %>
         <li>
           <big><%= link_to post.title, post_path(post) %> </big>
                    <small> | <%= link_to "Edit", edit_post_path(post) %> </small>
                    <small> | <%= link_to "Delete", post_path(post),
                          :data => {:confirm => "You sure?",
                                  :method => "delete"}%></small>
         </li>
          <% end %>
       </ul>
   <% else %>
   <% end %>
