html, body {
  height: 100%;
  margin: 1em;
}

#user-nav {
  float: right;
}

.footer {
  margin-bottom: 2%;
}

.container {
  min-height: 100%;
}

body {
  background: url("night.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
  color: white;
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.5em;
  font-family: 'Poiret One', cursive;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:salmon;
  cursor: pointer;
}

#post-header {
  display: inline-block;
}

#post-head {
  font-size: 1.5em;
  font-weight: bold;
}
